@model IEnumerable<AgriEnergyConnect2.Models.Product>

@{
    ViewData["Title"] = "Filtered Products";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="FilterProducts">Back to Filter Options</a>
</p>

@if (Model != null && Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Farmer.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Farmer.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductionDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AddedDate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Farmer.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Farmer.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductionDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AddedDate)
                    </td>
                    <td>
                        @* Add details/edit/delete links if needed *@
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No products found matching your filter criteria.</p>
}